<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head th:insert="~{fragments.html :: head(#{navigation.addABook} + ' | ' + #{general.appName})}">
</head>
<body>
<header th:replace="~{fragments.html :: header}">
</header>
<nav th:replace="~{fragments.html :: nav}">
</nav>
<section id="main-content">
    <div id="main-content-centered-element">
        <form id="book-changes" th:replace="~{fragments.html :: book-changes-form(${editDto}, '/add-book', null)}">
        </form>
        <div class="buttons-container">
            <button type="button" class="red" th:text="#{general.cancel}" onclick="window.location.href='/books/'">
                Cancel
            </button>
            <button type="submit" form="book-changes" class="green" th:text="#{general.add}">Add</button>
        </div>
    </div>
</section>
</body>
</html>