<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title th:text="#{navigation.books} + ' | ' + #{general.appName}">Books | Library</title>
    <div th:replace="~{fragments.html :: head}" th:remove="tag"></div>
</head>
<body>
<header th:replace="~{fragments.html :: header}">
</header>
<nav th:replace="~{fragments.html :: nav}">
</nav>
<section id="main-content">
    <div id="main-content-centered-element">
        <form method="get" action="/books/search" class="search-field">
            <input type="text" name="by" th:placeholder="#{general.search}" placeholder="Search..."/>
        </form>
        <form method="get" action="/book">
            <th:block th:each="book : ${books}">
                <th:block
                        th:if="${#authentication.getPrincipal().getRole() != T(com.patiun.libraryspring.user.UserRole).READER || book.amount > 0}">
                    <button type="submit" name="id" th:value="${book.id}" value="0"
                            class="block-container round-bordered-subject">
                        <h1 th:text="${book.title}">title</h1>
                        <div class="block-parameters">
                            <p th:inline="text">
                                [[#{books.authors}]]:
                                <th:block th:each="author,iterStat : ${book.authors}">
                                    <span th:text="${iterStat.last} ? ${author.name} : ${author.name} + ','"
                                          th:remove="tag">authors</span>
                                </th:block>
                            </p>
                            <p th:text="#{books.genre} + ': ' + ${book.genre.name}">Genre: Horror</p>
                            <p th:text="#{books.publisher} + ': ' + ${book.publisher.name}">Publisher: Some
                                publisher</p>
                            <p th:text="#{books.publishmentYear} + ': ' + ${book.publishmentYear}">Publishment Year:
                                2022</p>
                        </div>
                    </button>
                </th:block>
            </th:block>
        </form>
        <div th:replace="~{fragments.html :: pagination}"></div>
    </div>
</section>
</body>
</html>