<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head th:insert="~{fragments.html :: head(#{navigation.books} + ' | ' + #{general.appName})}">
</head>
<body>
<header th:replace="~{fragments.html :: header}">
</header>
<nav th:replace="~{fragments.html :: nav}">
</nav>
<section id="main-content">
    <div id="main-content-centered-element">
        <form method="get" action="/books/search" class="search-field">
            <input type="text" name="for" th:placeholder="#{general.search}" placeholder="Search..."/>
        </form>
        <div>
            <th:block th:each="book : ${books}">
                <button th:object="${book}"
                        th:if="${#authentication.getPrincipal().getRole() != T(com.patiun.libraryspring.user.UserRole).READER || book.amount > 0}"
                        type="button" th:onclick="|window.location.href=&#39;/book/*{id}&#39;|"
                        class="block-container round-bordered-subject"
                        th:insert="~{fragments.html :: book-parameters(${book})}">
                    <h1>Title: bookTitle</h1>
                    <p>Authors: George Orwell, H. P. Lovecraft</p>
                    <p>Genre: Horror</p>
                    <p>Publisher: Some publisher</p>
                    <p>Publishment Year: 2022</p>
                    <p>In stock: 1</p>
                </button>
            </th:block>
        </div>
        <div th:replace="~{fragments.html :: pagination}"></div>
    </div>
</section>
</body>
</html>