<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title th:text="${book.title} + ' | ' + #{general.appName}">BookName | Library</title>
    <div th:replace="~{fragments.html :: head}" th:remove="tag"></div>
</head>
<body>
<header th:replace="~{fragments.html :: header}">
</header>
<nav th:replace="~{fragments.html :: nav}">
</nav>
<section id="main-content">
    <div id="main-content-centered-element">
        <form id="book-changes" class="round-bordered-subject block-container" method="post"
              action="/edit-book">
            <input type="hidden" name="id" th:value="${book.id}"/>
            <label for="title" th:text="|#{books.bookTitle}:|">Title:</label>
            <input id="title" name="title" type="text" th:value="${book.title}" required="required"/>
            <label for="authors" th:text="|#{books.authors} (#{books.commaSeparated}):|">Author(s) (comma
                separated):</label>
            <input id="authors" name="authors" type="text" required="required"/>
            <label for="genre" th:text="|#{books.genre}:|">Genre:</label>
            <input id="genre" name="genre" type="text" th:value="${book.genre.name}" required="required"/>
            <label for="publisher" th:text="|#{books.publisher}:|">Publisher:</label>
            <input id="publisher" name="publisher" type="text" th:value="${book.publisher.name}" required="required"/>
            <label for="publishment-year" th:text="|#{books.publishmentYear}:|">Publishment year:</label>
            <input id="publishment-year" name="publishment-year" type="number" min="1000" max="2022" step="1"
                   th:value="${book.publishmentYear}" required="required"/>
            <label for="amount" th:text="|#{books.inStock}:|">In stock:</label>
            <input id="amount" name="amount" type="number" min="0" step="1" th:value="${book.amount}"
                   required="required"/>
            <!--            <div class="error-message">${requestScope.errorMessage}</div>-->
        </form>
        <form class="buttons-container">
            <button type="submit" class="red" formaction="/book" formmethod="get" name="id" th:value="${book.id}"
                    th:text="#{general.cancel}">Cancel
            </button>
            <button type="submit" form="book-changes" class="green" th:text="#{general.commitChanges}">Commit changes
            </button>
        </form>
    </div>
</section>
</body>
</html>