<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title th:text="${user.login} + ' | ' + #{general.appName}">userName | Library</title>
    <div th:replace="~{fragments.html :: head}" th:remove="tag"></div>
</head>
<body>
<header th:replace="~{fragments.html :: header}">
</header>
<nav th:replace="~{fragments.html :: nav}">
</nav>
<section id="main-content">
    <div id="main-content-centered-element">
        <form id="user-changes" class="round-bordered-subject block-container" method="post"
              action="/edit-user" th:object="${user}">
            <input type="hidden" name="id" th:value="*{id}"/>
            <h1 th:text="|#{authentication.loginLocale}: *{login}|">Login: userLogin</h1>
            <label for="first-name" th:text="|#{users.firstName}:|">First name:</label>
            <input id="first-name" name="first-name" type="text"
                   th:field="*{firstName}"
                   required="required"/>
            <label for="last-name" th:text="|#{users.lastName}:|">Last name:</label>
            <input id="last-name" name="last-name" type="text"
                   th:field="*{lastName}"
                   required="required"/>
            <label for="role" th:text="|#{users.role}:|">Role:</label>
            <select id="role" name="role" required="required" th:field="*{role}">
                <option value="READER" th:selected="*{role == T(com.patiun.libraryspring.user.UserRole).READER}"
                        th:text="#{READER}">
                    READER
                </option>
                <option value="LIBRARIAN"
                        th:selected="*{role == T(com.patiun.libraryspring.user.UserRole).LIBRARIAN}"
                        th:text="#{LIBRARIAN}">
                    LIBRARIAN
                </option>
            </select>
            <div class="error-message" th:text="${error}">error</div>
        </form>
        <form class="buttons-container">
            <button type="button" class="red" th:data-parameter1="${user.login}"
                    onclick="window.location.href='/user/'+this.getAttribute('data-parameter1')"
                    th:text="#{general.cancel}">Cancel
            </button>
            <button type="submit" form="user-changes" class="green" th:text="#{general.commitChanges}">Commit changes
            </button>
        </form>
    </div>
</section>
</body>
</html>