<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head th:insert="~{fragments.html :: head(${editDto.title} + ' | ' + #{general.appName})}">
</head>
<body>
<header th:replace="~{fragments.html :: header}">
</header>
<nav th:replace="~{fragments.html :: nav}">
</nav>
<section id="main-content">
    <div id="main-content-centered-element">
        <form id="book-changes" th:replace="~{fragments.html :: book-changes-form(${editDto}, '/edit-book', ${id})}">
        </form>
        <form class="buttons-container">
            <button type="submit" class="red" th:formaction="'/book/' + ${id}" formmethod="get"
                    th:text="#{general.cancel}">Cancel
            </button>
            <button type="submit" form="book-changes" class="green" th:text="#{general.commitChanges}">Commit changes
            </button>
        </form>
    </div>
</section>
</body>
</html>