<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head th:insert="~{fragments.html :: head(#{errorPage.title})}">
</head>
<body>
<header th:replace="~{fragments.html :: header}">
</header>
<section id="main-content">
    <div id="main-content-centered-element">
        <div class="round-bordered-subject block-container">
            <h1 th:text="${status + ' ' + error}">400 error</h1>
            <p th:text="${timestamp}">date</p>
            <p th:text="${path}">path</p>
            <p th:text="${message}">message</p>
        </div>
    </div>
</section>
</body>
</html>