<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head th:fragment="head">
    <link rel="stylesheet" href="/static/styles/style.css" th:href="@{styles/style.css}"/>
    <meta name="viewport" content="width=device-width">
</head>
<body>
<header th:fragment="header">
    <div class="container">
        <img src="/static/resources/white_book_symbol.png" th:src="@{resources/white_book_symbol.png}"
             alt="Book symbol">
        <h1 th:text="#{general.appName}">Library</h1>
        <h1 class="right-header-buttons">
            <form method="get" action="/sign-out" class="sign-out-button">
                <button type="submit">
                    <img src="/static/resources/sign_out_symbol.png" th:src="@{resources/sign_out_symbol.png}"
                         alt="Sign out symbol">
                </button>
            </form>
            <form method="get" id="language-change">
                <button type="button">
                    <img src="/static/resources/white_globe_symbol.png" th:src="@{resources/white_globe_symbol.png}"
                         alt="Globe symbol">
                </button>
                <div class="dropdown-content">
                    <button type="submit" name="lang" value="en" th:text="#{general.englishCode}">EN</button>
                    <button type="submit" name="lang" value="ru" th:text="#{general.russianCode}">RU</button>
                    <button type="submit" name="lang" value="bel" th:text="#{general.belarusianCode}">BEL</button>
                </div>
            </form>
        </h1>
    </div>
</header>
<nav th:fragment="nav">
    <div>
        <button type="button" onclick="window.location.href='/books';" th:text="#{navigation.books}">Books</button>
        <th:block th:switch="${#authentication.getPrincipal().getRole()}">
            <th:block th:case="${T(com.patiun.libraryspring.user.UserRole).READER}">
                <button type="button" onclick="window.location.href='/my-orders/';"
                        th:text="#{navigation.myOrders}">My Orders
                </button>
            </th:block>
            <th:block th:case="${T(com.patiun.libraryspring.user.UserRole).LIBRARIAN}">
                <button type="button" onclick="window.location.href='/orders/';" th:text="#{navigation.orders}">Orders
                </button>
            </th:block>
            <th:block th:case="${T(com.patiun.libraryspring.user.UserRole).ADMIN}">
                <button type="button" onclick="window.location.href='/add-book-page';"
                        th:text="#{navigation.addABook}">Add a Book
                </button>
                <button type="button" onclick="window.location.href='/users/';" th:text="#{navigation.users}">Users
                </button>
            </th:block>
        </th:block>
    </div>
</nav>
<div id="pagination" class="round-bordered-subject" th:fragment="pagination">
    <div>
        <button type="button" onclick="window.location.href='?page=1'">|&lt;</button>
    </div>
    <div>
        <button type="button" th:onclick="|window.location.href=&#39;?page=${currentPage - 1}&#39;|">
            &lt;
        </button>
    </div>
    <form method="get">
        <input type="number" min="1" th:max="${maxPage}" step="1" name="page" th:value="${currentPage}"
               value="1"/>
    </form>
    <div>
        <button type="button" th:onclick="|window.location.href=&#39;?page=${currentPage + 1}&#39;|">
            &gt;
        </button>
    </div>
    <div>
        <button type="button" th:onclick="|window.location.href=&#39;?page=${maxPage}&#39;|">&gt;|
        </button>
    </div>
</div>
</body>
</html>