<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head th:insert="~{fragments.html :: head(#{mainPage.title})}">
</head>
<body>
<header th:replace="~{fragments.html :: header}">
</header>
<nav th:replace="~{fragments.html :: nav}">
</nav>
<section id="main-content">
    <div id="main-content-centered-element">
        <div class="container round-bordered-subject main-page-message">
            <h1 th:text="#{mainPage.greetingsMessage} + ', ' + ${#authentication.name}">
                Greetings,
                user</h1>
        </div>
    </div>
</section>
</body>
</html>