<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head th:insert="~{fragments.html :: head(#{navigation.orders} + ' | ' + #{general.appName})}">
</head>
<body>
<header th:replace="~{fragments.html :: header}">
</header>
<nav th:replace="~{fragments.html :: nav}">
</nav>
<section id="main-content">
    <div id="main-content-centered-element">
        <form method="get" action="/orders/search" class="search-field">
            <input type="text" name="for" th:placeholder="#{general.search}" placeholder="Search..."/>
        </form>
        <div>
            <button th:each="order : ${orders}" th:object="${order}" type="button"
                    th:onclick="|window.location.href=&#39;/order/*{id}&#39;|"
                    class="block-container round-bordered-subject">
                <h1 th:text="*{book.title} + (${#authentication.getPrincipal().role != T(com.patiun.libraryspring.user.UserRole).READER} ? (' | ' + *{user.login}) : '')">
                    bookTitle | userLogin
                </h1>
                <div class="block-parameters" th:insert="~{fragments.html :: order-parameters(${order})}">
                    <p>Start date: 01.01.2001</p>
                    <p>End date: 02.01.2001</p>
                    <p>Return date: 01.01.2001</p>
                    <p>Rental type: out of library</p>
                    <p>State: placed</p>
                </div>
            </button>
        </div>
        <div th:replace="~{fragments.html :: pagination}"></div>
    </div>
</section>
</body>
</html>