<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head th:insert="~{fragments.html :: head(${order.user.login} + ' - ' + ${order.book.title} + ' | ' + #{general.appName})}">
</head>
<body>
<header th:replace="~{fragments.html :: header}">
</header>
<nav th:replace="~{fragments.html :: nav}">
</nav>
<section id="main-content">
    <div id="main-content-centered-element" th:object="${order}">
        <div class="round-bordered-subject block-container" th:insert="~{fragments.html :: order-parameters(${order})}">
            <h1>Start date: 01.01.2001</h1>
            <p>End date: 02.01.2001</p>
            <p>Return date: 01.01.2001</p>
            <p>Rental type: out of library</p>
            <p>State: placed</p>
        </div>
        <div class="round-bordered-subject block-container"
             th:insert="~{fragments.html :: book-parameters(*{book})}">
            <h1>Title: bookTitle</h1>
            <p>Authors: George Orwell, H. P. Lovecraft</p>
            <p>Genre: Horror</p>
            <p>Publisher: Some publisher</p>
            <p>Publishment Year: 2022</p>
            <p>In stock: 1</p>
        </div>
        <div class="round-bordered-subject block-container"
             th:unless="${#authentication.getPrincipal().role == T(com.patiun.libraryspring.user.UserRole).READER}"
             th:insert="~{fragments.html :: user-parameters(*{user})}">
            <h1>Login: userLogin</h1>
            <p>First name: John</p>
            <p>Last name: Smith</p>
            <p>Role: reader</p>
            <p>Blocked: false</p>
        </div>
        <form class="buttons-container" method="post">
            <input type="hidden" name="id" th:value="*{id}"/>
            <th:block th:switch="${#authentication.getPrincipal().getRole()}">
                <th:block th:case="${T(com.patiun.libraryspring.user.UserRole).LIBRARIAN}"
                          th:if="*{state == T(com.patiun.libraryspring.order.OrderState).PLACED}">
                    <button type="submit" formaction="/approve-order" th:text="#{orders.approveOrder}">Approve order
                    </button>
                    <button type="submit" formaction="/decline-order" class="red" th:text="#{orders.decline}">Decline
                        order
                    </button>
                </th:block>
                <th:block th:case="${T(com.patiun.libraryspring.user.UserRole).READER}">
                    <button type="submit" formaction="/collect-order"
                            th:if="*{state == T(com.patiun.libraryspring.order.OrderState).APPROVED}"
                            th:text="#{orders.collectOrder}">Collect order
                    </button>
                    <button type="submit" formaction="/return-order"
                            th:if="*{state == T(com.patiun.libraryspring.order.OrderState).BOOK_TAKEN}"
                            th:text="#{orders.returnOrder}">Return order
                    </button>
                </th:block>
            </th:block>
        </form>
    </div>
</section>
</body>
</html>