<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title th:text="#{navigation.orders} + ' | ' + #{general.appName}">Orders | Library</title>
    <div th:replace="~{fragments.html :: head}" th:remove="tag"></div>
</head>
<body>
<header th:replace="~{fragments.html :: header}">
</header>
<nav th:replace="~{fragments.html :: nav}">
</nav>
<section id="main-content">
    <div id="main-content-centered-element">
        <form method="get" action="/orders/search" class="search-field">
            <input type="text" name="by" th:placeholder="#{general.search}"/>
        </form>
        <div>
            <th:block th:each="order : ${orders}">
                <button type="button" th:onclick="|window.location.href=&#39;/order/${order.id}&#39;|"
                        class="block-container round-bordered-subject">
                    <h1 th:text="${order.book.title} + (${#authentication.getPrincipal().role != T(com.patiun.libraryspring.user.UserRole).READER} ? (' | ' + ${order.user.login}) : '')">
                        bookTitle | userLogin
                    </h1>
                    <div class="block-parameters">
                        <p th:text="|#{orders.startDate}: ${#temporals.format(order.startDate, #messages.msg('general.dateFormat'))}|">
                            Start date: 01.01.2001
                        </p>
                        <p th:text="|#{orders.endDate}: ${#temporals.format(order.endDate, #messages.msg('general.dateFormat'))}|">
                            End date: 02.01.2001
                        </p>
                        <p th:if="${order.returnDate != null}"
                           th:text="|#{orders.returnDate}: ${#temporals.format(order.returnDate, #messages.msg('general.dateFormat'))}|">
                            Return date: 01.01.2001
                        </p>
                        <p th:text="|#{orders.rentalType}: #{${order.rentalType}}|">
                            Rental type: out of library
                        </p>
                        <p th:text="|#{orders.rentalState}: #{${order.state}}|">
                            State: placed
                        </p>
                    </div>
                </button>
            </th:block>
        </div>
        <div th:replace="~{fragments.html :: pagination}"></div>
    </div>
</section>
</body>
</html>