<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title th:text="#{userCreation.signUp} + ' | ' + #{general.appName}">Sign up | Library</title>
    <div th:replace="~{fragments.html :: head}" th:remove="tag"></div>
</head>
<body>
<header th:replace="~{fragments.html :: header}">
</header>
<section id="main-content">
    <form class="login-form round-bordered-subject" method="post" action="/sign-up" autocomplete="on"
          th:object="${registrationDto}">
        <input type="text" th:field="*{login}" th:placeholder="#{authentication.loginLocale}" placeholder="Login"
               required="required"/>
        <input type="password" th:field="*{password}" th:placeholder="#{authentication.passwordLocale}"
               placeholder="Password"
               required="required"/>
        <input type="password" th:field="*{confirmedPassword}" th:placeholder="#{userCreation.confirmPassword}"
               placeholder="Confirm password"
               required="required"/>
        <input type="text" th:field="*{firstName}" th:placeholder="#{users.firstName}" placeholder="Name"
               required="required"/>
        <input type="text" th:field="*{lastName}" th:placeholder="#{users.lastName}" placeholder="Last name"
               required="required"/>
        <button type="submit" th:text="#{userCreation.signUp}">Sign up</button>
        <div class="error-message" th:text="${error}">error</div>
    </form>
</section>
</body>
</html>