<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title th:text="#{authorisation.signInLocale} + ' | ' + #{general.appName}">Sign in | Library</title>
    <div th:replace="fragments.html :: head" th:remove="tag"></div>
</head>
<body>
<header th:replace="fragments.html :: header">
</header>
<section id="main-content">
    <form class="login-form round-bordered-subject" method="post" action="sign-in" autocomplete="on">
        <input type="text" name="login" th:placeholder="#{authorisation.loginLocale}" placeholder="Login"/>
        <input type="password" name="password" th:placeholder="#{authorisation.passwordLocale}" placeholder="Password"/>
        <button type="submit" th:text="#{authorisation.signInLocale}">Sign in</button>
        <a href="sign-up-page" th:text="#{userCreation.signUp}">Sign up</a>
        <!--        <div class="error-message">${requestScope.errorMessage}</div>-->
    </form>
</section>
</body>
</html>