<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head th:insert="~{fragments.html :: head(${user.login} + ' | ' + #{general.appName})}">
</head>
<body>
<header th:replace="~{fragments.html :: header}">
</header>
<nav th:replace="~{fragments.html :: nav}">
</nav>
<section id="main-content">
    <div id="main-content-centered-element">
        <div class="round-bordered-subject block-container"
             th:insert="~{fragments.html :: user-parameters(${user})}">
            <h1>Login: userLogin</h1>
            <p>First name: John</p>
            <p>Last name: Smith</p>
            <p>Role: reader</p>
            <p>Blocked: false</p>
        </div>
        <form th:if="*{role != T(com.patiun.libraryspring.user.UserRole).ADMIN}" class="buttons-container"
              th:object="${user}">
            <input type="hidden" name="id" th:value="*{id}"/>
            <button type="button" th:onclick="|window.location.href=&#39;/edit-user/*{id}&#39;|"
                    th:text="#{general.edit}">Edit
            </button>
            <button type="submit" formaction="/switch-user-blocked" formmethod="post"
                    th:onclick="'return confirm(\'' + (*{blocked} ? #{users.unblockConfirmation} : #{users.blockConfirmation}) + '\')'"
                    class="red"
                    th:text="*{blocked} ? #{users.unblock} : #{users.block}">Block/Unblock
            </button>
        </form>
    </div>
</section>
</body>
</html>