<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head th:insert="~{fragments.html :: head(#{navigation.users} + ' | ' + #{general.appName})}">
</head>
<body>
<header th:replace="~{fragments.html :: header}">
</header>
<nav th:replace="~{fragments.html :: nav}">
</nav>
<section id="main-content">
    <div id="main-content-centered-element">
        <form method="get" action="/users/search" class="search-field">
            <input type="text" name="for" th:placeholder="#{general.search}" placeholder="Search..."/>
        </form>
        <div>
            <button th:each="user : ${users}" type="button" th:data-parameter1="${user.login}"
                    onclick="window.location.href='/user/'+this.getAttribute('data-parameter1')"
                    class="block-container round-bordered-subject"
                    th:insert="~{fragments.html :: user-parameters(${user})}">
                <h1>Login: userLogin</h1>
                <p>First name: John</p>
                <p>Last name: Smith</p>
                <p>Role: reader</p>
                <p>Blocked: false</p>
            </button>
        </div>
        <div th:replace="~{fragments.html :: pagination}"></div>
    </div>
</section>
</body>
</html>