<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title th:text="${user.login} + ' | ' + #{general.appName}">userName | Library</title>
    <div th:replace="~{fragments.html :: head}" th:remove="tag"></div>
</head>
<body>
<header th:replace="~{fragments.html :: header}">
</header>
<nav th:replace="~{fragments.html :: nav}">
</nav>
<section id="main-content">
    <div id="main-content-centered-element">
        <div class="round-bordered-subject block-container">
            <h1 th:text="|#{authorisation.loginLocale}: ${user.login}|">Login: userLogin</h1>
            <p th:text="|#{users.firstName}: ${user.firstName}|">First name: John</p>
            <p th:text="|#{users.lastName}: ${user.lastName}|">Last name: Smith</p>
            <p th:text="#{users.role} + ': ' + #{${user.role}}">Role: reader</p>
            <p th:text="#{users.blocked} + ': ' + #{${user.blocked}}">Blocked: false</p>
        </div>
        <form class="buttons-container">
            <input type="hidden" name="id" th:value="${user.id}"/>
            <th:block th:if="${user.role != T(com.patiun.libraryspring.user.UserRole).ADMIN}">
                <button type="submit" formaction="/edit-user-page" formmethod="get" th:text="#{general.edit}">Edit
                </button>
                <button type="submit" formaction="/switch-user-blocked" formmethod="post"
                        th:onclick="'return confirm(\'' + (${user.blocked} ? #{users.unblockConfirmation} : #{users.blockConfirmation}) + '\')'"
                        class="red"
                        th:text="${user.blocked} ? #{users.unblock} : #{users.block}">Block/Unblock
                </button>
            </th:block>
        </form>
    </div>
</section>
</body>
</html>